.user-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px dotted grey;

    button{
        width: 100px;
        height: 30px;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    }

    .rename-user{
        background: orange;

        &:hover{
            background: rgb(160, 105, 3);
        }
    }

    .delete-user{
        background: red;

        &:hover{
            background: brown;
        }
    }
}

.user-item-rename{

    button{
        width: 50px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (max-width: 550px){
    .user-item{
        height: 100px;
        padding: 10px 0 50px 0;
        position: relative;

        .delete-user{
            position: absolute;
            bottom: 10px;
            right: 10%;
        }
        
        .rename-user{
            position: absolute;
            bottom: 10px;
            left: 10%;
        }
    }
}